:root {
  --main-color: #2e2e2e;
  --text-color: white;
  --title-text: "Josefin Sans", sans-serif;
  --text: "Montserrat", sans-serif;
}

header {
  display: flex;
  justify-content: flex-end;
}

nav {
  position: absolute;
  margin: 50px 100px;
}

nav li {
  display: inline;
  list-style: none;
}

nav ul {
  padding: 0px;
  margin: 0px;
}

nav a {
  text-decoration: none;
  font-weight: bold;
  opacity: 80%;
  color: var(--text-color);
  padding: 0px 20px;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--text-color);
  opacity: 100%;
}

body {
  font-family: var(--text);
  background: var(--main-color);
  color: var(--text-color);
}

.introduce {
  margin: 50px 50px 100px;
}

.portret {
  width: 400px;
  border-radius: 5px;
}

.name {
  font-family: var(--title-text);
  font-weight: bold;
  font-size: 72px;
}

.prof,
.about-me {
  padding-left: 65px;
  opacity: 80%;
}

.about-me {
  padding-top: 20px;
}

.contact-me,
.certificate,
.final-project {
  margin-top: 20px;
  margin-left: 65px;
  width: 150px;
}

.my-projects,
.resume, .contact {
  background-image: url("/images/background.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

.project {
  font-family: var(--title-text);
  text-align: center;
  font-weight: normal;
  font-size: 60px;
  padding-top: 80px;
}

.first-project {
  margin: auto;
  padding: 80px 0px;
}

.landing-image {
  width: 550px;
  border-radius: 5px;
}

.full-description {
  padding: 50px 0px 0px 50px;
}

.title {
  font-family: var(--title-text);
  font-size: 30px;
}

.skills {
  padding-left: 50px;
  margin-bottom: 20px;
}

.description {
  font-size: 14px;
  padding-left: 50px;
}

.description p,
.description ul {
  margin-bottom: 0px;
}

.certificate,
.final-project {
  width: 150px;
}

footer {
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;  
}

.copyright p {
margin: 0px;
}

.copyright-author {
  font-family: var(--title-text);
  font-size: 20px;
}

.fa-brands {
  font-size: 30px;
  opacity: 80%;
  transition: all 100ms ease-in-out;
  margin: 0px 20px;
  color: var(--text-color);
}

.fa-brands:hover {
  opacity: 100%;
}

@media (max-width: 1024px) {
  .prof,
  .about-me {
    padding-left: 120px;
    opacity: 80%;
  }

  .contact-me {
    margin-left: 120px;
  }
}

@media (max-width: 991px) {
  header {
    display: flex;
    justify-content: center;
  }

  nav {
    position: static;
    margin: 30px auto 30px;
  }

  .full-description {
    padding: 0px;
  }

  .first-project {
    padding: 40px 0px;
  }

  .prof,
  .about-me {
    padding-left: 65px;
    opacity: 80%;
  }

  .contact-me {
    margin: 50px auto;
    display: block;
  }

  .introduce {
    margin: 50px auto;
  }
}

@media (max-width: 700px) {
  footer {
    display: block;
    text-align: center;
    height: auto;    
  }

  .copyright, .social {
    margin: 15px auto;
  }
}

@media (max-width: 500px) {
  nav {
    margin: 15px auto 15px;
  }

  nav a {
    font-size: 12px;
    padding: 0px 10px;
  }

  .introduce {
    margin-top: 30px;
    margin-bottom: 0px;
  }

  .name {
    font-size: 56px;
  }

  .project {
    padding-top: 40px;
  }

  .full-description {
    padding: 0px 40px;
  }

  .first-project {
    padding: 20px 10px;
  }

  .description ul {
    margin-bottom: 20px;
  }

  .certificate,
  .final-project {
    display: block;
    margin: 15px auto;
  }
  
  .copyright p, .copyright-author {
    font-size: 12px;
  }

  .fa-brands {
    font-size: 15px;
    margin: 0px 10px;
  }
}

/* About me */

.introduction-part {
  margin-bottom: 100px;
}

.foto {
  max-width: 500px;
  margin-top: 50px;
}

.resume .name {
  margin-top: 50px;
  text-align: end;
}

.resume .prof {
  text-align: end;
  margin-bottom: 30px;
}

.quote {
  width: 400px;
  margin-left: 240px;
  text-align: end;
}

.line-quote {
  width: 300px;
  margin-left: 340px;
  margin-right: 0px;
}

.author {
  text-align: end;
}

.first-part-resume,
.second-part-resume,
.third-part-resume {
  padding-bottom: 100px;
}

.title-about-me,
.title-contact,
.title-education,
.title-experience,
.title-skills,
.title-languages {
  writing-mode: vertical-rl;
  transform: scale(-1);
  text-decoration: underline;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  opacity: 80%;
  background-color: #2e2e2e;
  text-align: end;
}

.contact-col,
.skills-col,
.education-col,
.experience-col,
.about-me-col,
.languages-col {
  background-color: #2e2e2e;
  padding: 20px 10px 20px 5px;
  border-radius: 10px;
}

.about-me-col,
.skills-col {
  margin-right: 100px;
}

.fa-solid {
  float: left;
  margin-left: 20px;
  margin-right: 20px;
}

.fa-house {
  padding-top: 2px;
}

.text-contact a {
  text-decoration: none;
  color: var(--text-color);
  display: block;
  margin-bottom: 16px;
}

.fa-phone,
.fa-envelope {
  padding-top: 3px;
}

.specialization {
  font-family: var(--title-text);
  font-size: 20px;
}

.line-education {
  width: 300px;
}



/*Contact*/

.contact {
  padding: 100px;
}

.main {
  font-family: var(--text);
  font-weight: bold;
  font-size: 52px;
  padding-left: 200px;
}

.in-touch, .mail-phone {  
  font-size: 20px;
}

.mail-phone {
  font-size: 25px;
}

.mail-phone a {
  text-decoration: none;
  color: var(--text-color);
  white-space: nowrap;
}

.mail-phone .fa-solid {
  font-size: 30px;
}

.contact .conteiner {
  background-color: var(--main-color);
  border-radius: 10px;
  padding: 50px 50px;
  margin-top: 80px;
}

@media (max-width: 1225px) {
  .main {
    padding-left: 0px;
  }

  .mail-phone {
    font-size: 20px;
  }
}

@media (max-width: 1200px) {
  .foto {
    max-width: 300px;
    position: absolute;
  }

  .resume .introduction-part .col {
    margin-top: 50px;
  }

  .quote {
    width: 400px;
    margin-left: 530px;
    text-align: end;
  }

  .line-quote {
    width: 300px;
    margin-left: 630px;
    margin-right: 0px;
  }
}

@media (max-width: 991px) {
  .introduction-part {
    margin-bottom: 50px;
  }

  .resume .name {
    margin-top: 50px;
    text-align: start;
  }

  .resume .prof {
    text-align: start;
    margin-bottom: 30px;
  }

  .quote {
    width: 100%;
    text-align: end;
    margin-left: 0px;
    padding-left: 100px;
  }

  .line-quote {
    width: 100%;
    margin-left: 0px;
    padding-left: 200px;
  }

  .first-part-resume,
  .second-part-resume,
  .third-part-resume {
    padding-bottom: 80px;
  }

  .contact {
    padding: 50px;
  }
}

@media (max-width: 767px) {
  .resume .introduction-part .col {
    margin-top: 0px;
  }

  .about-me-col,
  .skills-col {
    margin-right: 50px;
  }

  .contact .conteiner {
    margin-top: 30px;
  }

  .in-touch {
    padding-right: 50px;
  }
}

@media (max-width: 550px) {
  .first-part-resume,
  .second-part-resume,
  .third-part-resume {
    padding-bottom: 0px;
  }
  .about-me-col,
  .contact-col,
  .education-col,
  .skills-col,
  .languages-col {
    margin: 0px 50px 50px 50px;
  }

  .line-education {
    width: auto;
  }

  .text-education {
    padding-left: 50px;
  }

  .introduction-part {
    margin-bottom: 20px;
  }
}

@media (max-width: 500px) {
  .resume .name {
    margin-top: 30px;
  }

  .name {
    font-size: 56px;
  }

  .main {
    font-size: 42px;
  }  

  .contact .conteiner {
    padding: 20px;
  }

  .contact .conteiner p{
    font-size: 16px;
  }
}